{% extends 'Admin/base.html' %}

{% block body %}

<div class="content">
    <div class="page-header">
       <div class="add-item d-flex">
          <div class="page-title">
             <h4>Customer List</h4>
             <h6>Manage your warehouse</h6>
          </div>
       </div>
       <ul class="table-top-head">
          <li>
             <a href="{% url 'customer-list' %}" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw">
                   <polyline points="1 4 1 10 7 10"></polyline>
                   <path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path>
                </svg>
             </a>
          </li>
          <li>
             <a data-bs-toggle="tooltip" data-bs-placement="top" id="collapse-header" aria-label="Collapse" data-bs-original-title="Collapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up">
                   <polyline points="18 15 12 9 6 15"></polyline>
                </svg>
             </a>
          </li>
       </ul>
       <div class="page-btn">
          <a href="#" class="btn btn-added" data-bs-toggle="modal" data-bs-target="#add-units">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle me-2">
                <circle cx="12" cy="12" r="10"></circle>
                <line x1="12" y1="8" x2="12" y2="16"></line>
                <line x1="8" y1="12" x2="16" y2="12"></line>
             </svg>
             Add New Customer
          </a>
       </div>
    </div>
    <!-- /product list -->
    <div class="card table-list-card">
        <div class="card-body">
            <div class="table-top">
                <div class="search-set">
                    <div class="search-input">
                        <a href="sales-list.html" class="btn btn-searchset"><i data-feather="search" class="feather-search"></i></a>
                    </div>
                </div>
                <div class="search-path">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-filter">
                            <i data-feather="filter" class="filter-icon"></i>
                            <span><img src="https://dreamspos.dreamstechnologies.com/html/template/assets/img/icons/closes.svg" alt="img"></span>
                        </a>
                        
                    </div>
                    
                </div>
                <!-- <div class="form-sort">
                    <div class="input-blocks">
                        <div class="input-groupicon calender-input">
                            <i data-feather="sliders" class="info-img"></i>
                            <input type="text" placeholder="Filter by year" style="margin-left: 5px;">
                        </div>
                    </div>
                </div> -->
            </div>
            
            <div class="table-responsive">
                <table class="table  datanew" id="booking-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>NID</th>
                            <th>Address</th>
                            <th>Create Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="sales-list">
                        {% for customer in customers %}
                        <tr id="table{{customer.id}}" data-booking_id="{{customer.id}}">
                            <td class="customer_id">
                               #{{customer.id}}
                            </td>
                            <td class="customer_name">{{customer.name}}</td>
                            <td class="customer_email">
                               {% if customer.email %}
                                   {{customer.email}} 
                               {% else %}
                                   --
                               {% endif %}
                            </td>
                            <td class="customer_number">{{customer.number}} </td>
                            <td class="customer_nid">
                               {% if customer.nid %}
                                   {{customer.nid}} 
                               {% else %}
                                   --
                               {% endif %}
                            </td>
                            <td class="customer_address">{{customer.address}}</td>
                            <td>{{customer.date_created|date:"d M Y"}}</td>
                            <td class="action-table-data" data-booking_id="{{customer.id}}">
                               <div class="edit-delete-action" data-booking_id="{{customer.id}}">
                                  
                                  <a class="me-2 p-2 customer_edit_btn" href="#" data-bs-toggle="modal" data-bs-target="#edit-units" >
                                       <input type="hidden" value="{{customer.id}}">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit">
                                        <path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path>
                                        <path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path>
                                     </svg>
                                  </a>
                                  
                                  <a class="delete-customer p-2" href="javascript:void(0);" data-booking_id="{{customer.id}}">
                                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2">
                                        <polyline points="3 6 5 6 21 6"></polyline>
                                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                                        <line x1="10" y1="11" x2="10" y2="17"></line>
                                        <line x1="14" y1="11" x2="14" y2="17"></line>
                                     </svg>
                                  </a>
                               </div>
                            </td>
                         </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /product list -->

    {% csrf_token %}

{% endblock %}

{% block model %}
<!-- add customer model  -->
<div class="modal fade" id="add-units" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered custom-modal-two">
        <div class="modal-content" data-select2-id="select2-data-26-xqcn">
            <div class="page-wrapper-new p-0" data-select2-id="select2-data-25-rcls">
                <div class="content" data-select2-id="select2-data-24-1t7r">
                    <div class="modal-header border-0 custom-modal-header">
                        <div class="page-title">
                            <h4>Add Customer</h4>
                        </div>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body custom-modal-body" data-select2-id="select2-data-23-7j80">
                        <form id="form-add" action="{% url 'customer-list' %}" data-select2-id="select2-data-22-3a2a">{% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Name</label>
                                        <input name="name" type="text" class="form-control" placeholder="Enter full name">
                                    </div>
                                </div>
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Email</label>
                                        <input name="email" type="email" class="form-control" placeholder="Enter valid email address">
                                    </div>
                                </div>
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Number</label>
                                        <input name="number" type="text" class="form-control" placeholder="Enter a Phone number">
                                    </div>
                                </div>
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer NID</label>
                                        <input name="nid" type="text" class="form-control" placeholder="Enter current address">
                                    </div>
                                </div>	
                                <div class="col-lg-12 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Address</label>
                                        <input name="address" type="text" class="form-control" placeholder="Enter current address">
                                    </div>
                                </div>
                                				
                            </div>								
                            <div class="row">
                                <div class="col-8">
                                    <b id="message"></b>
                                </div>
                                <div class="col-4 text-end">
                                    <button type="submit" class="btn btn-submit add-sale">Submit</button>
                                </div>
                            </div>
                        </form>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- delete customer model -->
<div id="confirm-delete" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto; display: none;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
       <div class="swal2-header">
          <ul class="swal2-progress-steps" style="display: none;"></ul>
          <div class="swal2-icon swal2-error" style="display: none;"></div>
          <div class="swal2-icon swal2-question" style="display: none;"></div>
          <div class="swal2-icon swal2-warning" style="display: none;"></div>
          <div class="swal2-icon swal2-info" style="display: none;"></div>
          <div class="swal2-icon swal2-success" style="display: none;"></div>
          <img class="swal2-image" style="display: none;">
          <h2 class="swal2-title" id="swal2-title" style="display: flex;">Are you sure?</h2>
          <button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
       </div>
       <div class="swal2-content">
          <div id="swal2-content" class="swal2-html-container" style="display: block;">You won't be able to revert this!</div>
          <input class="swal2-input" style="display: none;"><input type="file" class="swal2-file" style="display: none;">
          <div class="swal2-range" style="display: none;"><input type="range"><output></output></div>
          <select class="swal2-select" style="display: none;"></select>
          <div class="swal2-radio" style="display: none;"></div>
          <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;"><input type="checkbox"><span class="swal2-label"></span></label>
          <textarea class="swal2-textarea" style="display: none;"></textarea>
          <div class="swal2-validation-message" id="swal2-validation-message"></div>
       </div>
       <div class="swal2-actions">
          <div class="swal2-loader"></div>
          <button id="confirmed-delete" type="button" class="swal2-confirm btn btn-primary" style="display: inline-block;" >Yes, delete it!</button>
          <button type="button" class="swal2-deny" aria-label="" style="display: none;">No</button>
          <button type="button" class="swal2-cancel btn btn-danger ml-1" style="display: inline-block;" onclick='document.querySelector("#confirm-delete").style.display = "none";'>Cancel</button>
       </div>
       <div class="swal2-footer" style="display: none;"></div>
       <div class="swal2-timer-progress-bar-container">
          <div class="swal2-timer-progress-bar" style="display: none;"></div>
       </div>
    </div>
 </div>

 <!-- delete confirmed model -->
 <div id="confirm-deleted" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto; display: none;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content" class="swal2-popup swal2-modal swal2-show" tabindex="-1" role="dialog" aria-live="assertive" aria-modal="true" style="display: flex;">
       <div class="swal2-header">
          <ul class="swal2-progress-steps" style="display: none;"></ul>
          <div class="swal2-icon swal2-error" style="display: none;"></div>
          <div class="swal2-icon swal2-question" style="display: none;"></div>
          <div class="swal2-icon swal2-warning" style="display: none;"></div>
          <div class="swal2-icon swal2-info" style="display: none;"></div>
          <div class="swal2-icon swal2-success" style="display: none;"></div>
          <img class="swal2-image" style="display: none;">
          <h2 class="swal2-title" id="swal2-title" style="display: flex;">Deleted!</h2>
          <button type="button" class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
       </div>
       <div class="swal2-content">
          <div id="delete-response-msg" class="swal2-html-container" style="display: block;">Customer has been deleted.</div>
          <input class="swal2-input" style="display: none;"><input type="file" class="swal2-file" style="display: none;">
          <div class="swal2-range" style="display: none;"><input type="range"><output></output></div>
          <select class="swal2-select" style="display: none;"></select>
          <div class="swal2-radio" style="display: none;"></div>
          <label for="swal2-checkbox" class="swal2-checkbox" style="display: none;"><input type="checkbox"><span class="swal2-label"></span></label>
          <textarea class="swal2-textarea" style="display: none;"></textarea>
          <div class="swal2-validation-message" id="swal2-validation-message"></div>
       </div>
       <div class="swal2-actions">
          <div class="swal2-loader"></div>
          <button id="delete-done" type="button" class="swal2-confirm btn btn-success swal2-styled" aria-label="" style="display: inline-block;">OK</button><button type="button" class="swal2-deny swal2-styled" aria-label="" style="display: none;">No</button>
          <button type="button" class="swal2-cancel swal2-styled" style="display: none;" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
       </div>
       <div class="swal2-footer" style="display: none;"></div>
       <div class="swal2-timer-progress-bar-container">
          <div class="swal2-timer-progress-bar" style="display: none;"></div>
       </div>
    </div>
 </div>

<!-- edit customer model  -->
<div class="modal fade" id="edit-units" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-two">
        <div class="modal-content">
            <div class="page-wrapper-new p-0">
                <div class="content">
                    <div class="modal-header border-0 custom-modal-header">
                        <div class="page-title">
                            <h4>Edit Customer</h4>
                        </div>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body custom-modal-body">
                        <form id="form-edit" action="{% url 'customer-list' %}" data-select2-id="select2-data-22-3a2a" method="put">{% csrf_token %}
                            <input type="hidden" name="id">
                            <div class="row">
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Name</label>
                                        <input name="name" type="text" class="form-control" placeholder="Enter full name">
                                    </div>
                                </div>
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Email</label>
                                        <input name="email" type="email" class="form-control" placeholder="Enter valid email address">
                                    </div>
                                </div>
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Number</label>
                                        <input name="number" type="text" class="form-control" placeholder="Enter a Phone number">
                                    </div>
                                </div>
                                <div class="col-lg-6 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer NID</label>
                                        <input name="nid" type="text" class="form-control" placeholder="Enter current address">
                                    </div>
                                </div>	
                                <div class="col-lg-12 pe-0">
                                    <div class="mb-3">
                                        <label class="form-label">Customer Address</label>
                                        <input name="address" type="text" class="form-control" placeholder="Enter current address">
                                    </div>
                                </div>
                                				
                            </div>								
                            
                            <div class="row">
                                <div class="col-8">
                                    <b id="message"></b>
                                </div>
                                <div class="col-4 text-end">
                                    <button type="submit" class="btn btn-submit add-sale">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    let edit_form = document.querySelector('form#form-edit');
    let add_form = document.querySelector('form#form-add');

    let edit_msg = edit_form.querySelector('#message');
    let add_msg = add_form.querySelector('#message');


    document.querySelectorAll("a.customer_edit_btn").forEach( click_event => {
        click_event.addEventListener("click", (event) =>{
            event.preventDefault();
            
            let tableid = event.target.parentNode.querySelector("input").value;
            let parent = document.querySelector("tr#table"+tableid);

            let id = parent.querySelector("td.customer_id");
            let name = parent.querySelector("td.customer_name");
            let email = parent.querySelector("td.customer_email");
            let number = parent.querySelector("td.customer_number");
            let address = parent.querySelector("td.customer_address");
            let nid = parent.querySelector("td.customer_nid");
    
            let id_field = edit_form.querySelector("input[name=id]");
            let name_field = edit_form.querySelector("input[name=name]");
            let email_field = edit_form.querySelector("input[name=email]");
            let number_field = edit_form.querySelector("input[name=number]");
            let address_field = edit_form.querySelector("input[name=address]");
            let nid_field = edit_form.querySelector("input[name=nid]");
    
            id_field.value = id.textContent;
            name_field.value = name.textContent;
            number_field.value = number.textContent;
            address_field.value = address.textContent;
            if(email.textContent.trim() != "--"){

                email_field.value = email.textContent.trim();
            }else{
                email_field.value = "";
            }
            if(nid.textContent.trim() != "--"){
                nid_field.value = nid.textContent.trim();
            }else{
                nid_field.value = "";
            }

            event.target.parentNode.click();
        });
    })

    edit_form.addEventListener("submit", async (event) => {
        event.preventDefault();

        let formData = new FormData(edit_form);
        let jsonData = Object.fromEntries(formData.entries());
        let csrfToken = edit_form.querySelector('input[name=csrfmiddlewaretoken]').value;
        edit_form.querySelector('button[type=submit]').disabled = true;

        let url = "{% url 'customer-list' %}"
        try{
            let response = await fetch(url,{
                method: 'PUT',
                headers:{
                    'Content-Type': 'application/json',
                    "X-CSRFToken":csrfToken
                },
                body: JSON.stringify(jsonData)
            })

            let json = await response.json();
            let responseMessage = json.message;
            edit_msg.textContent = responseMessage;

            if(response.ok){
                edit_msg.style.color = "green";
            }else{
                edit_msg.style.color = "red";
            }

        }catch{
            edit_msg.textContent = "Something went wrong. Please try again";
            edit_msg.style.color = "red";
        }

        setTimeout(()=>{
            edit_msg.textContent = "";
            edit_form.querySelector('button[type=submit]').disabled = false;
        },7000)
    });

    add_form.addEventListener("submit", async (event) => {
        event.preventDefault();

        let formData = new FormData(add_form);
        let csrfToken = add_form.querySelector('input[name=csrfmiddlewaretoken]').value;
        add_form.querySelector('button[type=submit]').disabled = true;

        let url = "{% url 'customer-list' %}"
        try{
            let response = await fetch(url,{
                method: 'POST',
                headers:{
                    "X-CSRFToken":csrfToken
                },
                body: formData
            })

            let json = await response.json();
            let responseMessage = json.message;
            add_msg.textContent = responseMessage;

            if(response.ok){
                add_msg.style.color = "green";
            }else{
                add_msg.style.color = "red";
            }

        }catch{
            add_msg.textContent = "Something went wrong. Please try again";
            add_msg.style.color = "red";
        }

        setTimeout(() => {
            add_msg.textContent = "";
            add_form.querySelector('button[type=submit]').disabled = false;
        },7000)
    });

    

    // delete customer
    document.querySelectorAll(".delete-customer").forEach(customer => {
        customer.addEventListener("click", (event) =>{
            let id = event.target.parentNode.parentNode.dataset.booking_id;
            console.log(event.target.parentNode.parentNode)
            let data = {
                id: id,
            };
            let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let url = "{% url 'customer-list' %}"
            let message = document.querySelector("#delete-response-msg");
            console.log(data);

            let deleteCustomer = async () =>{
                try{

                    let response = await fetch(url,{
                        method: 'delete',
                        headers: {
                            "Content-Type":"application/json",
                            "X-CSRFToken": csrfToken
                        },
                        body: JSON.stringify(data)
                    });
    
                    let json = await response.json();
                    message.textContent = json.message;
    
                    if(response.ok){
                        message.style.color = "green";
                        try{

                            document.querySelector("#table"+id).remove();
                        }catch(e){
                            console.log(e);
                        }
                    }else{
                        message.style.color = "red";
                    }
                }catch{
                    message.textContent = "Something went wrong."
                    message.style.color = "red";
                }
            };

            document.querySelector("#confirm-delete").style.display = "block";

            document.querySelector("#confirmed-delete").addEventListener("click", () => {
                deleteCustomer();
                document.querySelector("#confirm-deleted").style.display = "block";
                document.querySelector("#confirm-delete").style.display = "none";
                deleteCustomer = () => {}; // clearing the function

            })

            document.querySelector("#delete-done").addEventListener("click", ()=>{
                deleteCustomer = () => {}; // clearing the function
                document.querySelector("#confirm-deleted").style.display = "none";
            })
        })
    });
</script>

{% endblock %} 