<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /html/template/assets/scss/layout</title>
 </head>
 <body>
<h1>Index of /html/template/assets/scss/layout</h1>
  <table>
   <tr><th valign="top"><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
   <tr><th colspan="5"><hr></th></tr>
<tr><td valign="top"><img src="/icons/back.gif" alt="[PARENTDIR]"></td><td><a href="/html/template/assets/scss/">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_common.scss">_common.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 18K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_content.scss">_content.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">7.6K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_darktheme.scss">_darktheme.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 52K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_header-four.scss">_header-four.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">5.9K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_header-one.scss">_header-one.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">5.8K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_header-three.scss">_header-three.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">6.3K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_header-two.scss">_header-two.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">2.5K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_header.scss">_header.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 32K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_loader.scss">_loader.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">8.7K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_notification.scss">_notification.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">5.4K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_sidebar-settings.scss">_sidebar-settings.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">8.3K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_sidebar.scss">_sidebar.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 23K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_theme-settings.scss">_theme-settings.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 26K</td><td>&nbsp;</td></tr>
   <tr><th colspan="5"><hr></th></tr>
</table>
<address>Apache/2.4.52 (Ubuntu) Server at dreamspos.dreamstechnologies.com Port 443</address>
</body></html>
