<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /html/template/assets/scss/components</title>
 </head>
 <body>
<h1>Index of /html/template/assets/scss/components</h1>
  <table>
   <tr><th valign="top"><img src="/icons/blank.gif" alt="[ICO]"></th><th><a href="?C=N;O=D">Name</a></th><th><a href="?C=M;O=A">Last modified</a></th><th><a href="?C=S;O=A">Size</a></th><th><a href="?C=D;O=A">Description</a></th></tr>
   <tr><th colspan="5"><hr></th></tr>
<tr><td valign="top"><img src="/icons/back.gif" alt="[PARENTDIR]"></td><td><a href="/html/template/assets/scss/">Parent Directory</a></td><td>&nbsp;</td><td align="right">  - </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_accordion.scss">_accordion.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 15K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_alerts.scss">_alerts.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">6.4K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_avatar.scss">_avatar.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">6.3K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_badge.scss">_badge.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">1.2K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_boostrap.scss">_boostrap.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">402 </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_border.scss">_border.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 11K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_breadcrumb.scss">_breadcrumb.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">1.8K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_button.scss">_button.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 15K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_calendar.scss">_calendar.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">2.5K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_cards.scss">_cards.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">9.1K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_chart.scss">_chart.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">238 </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_dropdown.scss">_dropdown.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">5.9K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_font.scss">_font.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">212 </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_forms.scss">_forms.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 17K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_grid.scss">_grid.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">462 </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_icons.scss">_icons.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">768 </td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_navs-tabs.scss">_navs-tabs.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 16K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_pagination.scss">_pagination.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">4.1K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_popovers.scss">_popovers.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 21K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_popup.scss">_popup.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">7.7K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_progress.scss">_progress.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">7.6K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_ribbon.scss">_ribbon.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 28K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_tables.scss">_tables.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right"> 15K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_tooltips.scss">_tooltips.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">1.3K</td><td>&nbsp;</td></tr>
<tr><td valign="top"><img src="/icons/unknown.gif" alt="[   ]"></td><td><a href="_typography.scss">_typography.scss</a></td><td align="right">2024-10-25 10:26  </td><td align="right">6.7K</td><td>&nbsp;</td></tr>
   <tr><th colspan="5"><hr></th></tr>
</table>
<address>Apache/2.4.52 (Ubuntu) Server at dreamspos.dreamstechnologies.com Port 443</address>
</body></html>
